* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*
table {
  color: 42A3D;
  font-family: sans-serif;
  font-size: .9em;
  font-weight: 300;
  text-align: left;
  line-height: 20px;
  border-spacing: 0;
  border: 1px solid #428bca;
  width: 100%;
  margin: 20px auto;
}

thead tr:first-child {
  background: #428bca;
  color: #fff;
  border: none;
}

th {font-weight: bold; padding-left: 8px;}
th:first-child, td:first-child {padding: 0 15px 0 20px;}

thead tr:last-child th {border-bottom: 2px solid #ddd;}

tbody tr:hover {background-color: #f0fbff;}
tbody tr:last-child td {border: none;}
tbody td {border-bottom: 1px solid #ddd;}

td:last-child {
  text-align: right;
  padding-right: 10px;
}

table, th, tr {
  border: 1px solid #428bca;
}

.button {
  color: #696969;
  padding-right: 5px;
  cursor: pointer;
}

.alterar:hover {
  color: #428bca;
}

.excluir:hover {
  color: #dc2a2a;
}

div.language {
  width: 100px;
  text-align: center;
}
*/

table.doclist {
		font-family: verdana, arial, sans-serif;
		font-size: 11px;
		color: #333333;
		border-width: 1px;
		border-color: #3A3A3A;
		border-collapse: collapse;
                margin: 20px auto;
	}
        
	table.doclist th {
		border-width: 1px;
		padding: 8px;
		border-style: solid;
		border-color: #517994;
		background-color: #B2CFD8;
	}
        
	table.doclist tr:hover td {
		cursor: pointer;
	}
        
	table.doclist tr:nth-child(even) td{
		background-color: #DFEBF1;
	}
        
	table.doclist td {
		border-width: 1px;
		padding: 8px;
		border-style: solid;
		border-color: #517994;
		background-color: #ffffff;
	}
        
        table.language td{
            border-width: 0px;
        }